/* 
FONT FAMILY
h1 font-family: 'DM Serif Display', serif;
h2 font-family: 'DM Serif Text', serif;
The rest font-family: 'DM Sans', sans-serif; (400, 700)
COLORS AS HEX
Background Grey { color: #646464 }
Lightest Grey { color: #c2c1c1 }
Lighter Grey { color: #868686 }
Darker Grey { color: #464646 }
Dark Grey { color: #222222 }
Pink { color: #ffaed4;}
  */

/* <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< FONTS & COLORS >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

:root {
    --background-grey-color: #646464;
    --lighter-grey-color: #868686;
    --lightest-grey-color: #c2c1c1;
    --darker-grey-color: #464646;
    --darkest-grey-color: #222;
    --primary-pink-color: #ffaed4;
    --secondary-pink-color: #fa96c5;

    --primary-font-weight: 400;

    --h1-font-size: 22px;
    --h2-font-size: 20px;
    --h3-font-size: 16px;
    --h4-font-size: 14px;
    --p-font-size: 14px;

    --headings-font-family: 'DM Serif Display', serif;
    --copy-font-family: 'DM Sans', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--background-grey-color);
    font-weight: var(--primary-font-weight);
    color: var(--darkest-grey-color);
    font-size: var(--p-font-size);
    font-family: var(--copy-font-family);

}

h1,
h2,
h3,
h4 {
    font-family: var(--headings-font-family);
    margin: 0;
}

p {
    margin: 10px 0;
    padding-left: 0px;
    background-color: var(--lightest-grey-color);
    max-width: fit-content;
}

/*Body and Page Content*/

.bg-light {
    background-color: var(--primary-pink-color) !important;
}

header.header {
    background-color: var(--primary-pink-color);
    font-size: var(--h1-font-size);
}

nav h1 {
    color: var(--darkest-grey-color);
}

.navbar {
    padding: 0;
}

/*Reset button and input*/
button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

/*Overrides jQuery button*/
.btn {
    border-radius: 0;
}

.pokemon-list__button {
    background-color: var(--lighter-grey-color);
    padding: 5px;
    margin: 5px;
    min-width: 100px;
    max-width: 100px;
    border: 0px solid #c2c1c1;
    border-bottom: 4px solid var(--darker-grey-color);
}

.pokemon-list__button:hover {
    background-color: var(--darker-grey-color);
    border-bottom: 4px solid var(--darkest-grey-color);
}

.pokemon-list__button:active {
    background-color: var(--darker-grey-color);
    border-top: 4px solid var(--darkest-grey-color);
    border-bottom: 0px;
}

.list-item {
    display: grid;
    justify-content: space-around;
}

.pokemon-card {
    background-color: #c2c1c1;
    padding: 5px;
    margin: 0px;
    min-width: 150px;
    max-width: 150px;
    border: 0px solid #c2c1c1;
}

.pokemon-img-card {
    filter: grayscale(1);
}

#pokemon-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 40px;
    list-style: none;
    text-align: center;
}

.list-group-item {
    background-color: inherit;
    border: none;
}

/*MODAL*/

.modal-content {
    border-radius: 0;
    background-color: var(--lightest-grey-color);
}

.modal-header {
    border-bottom: 1px solid var(--background-grey-color);
}

.modal-images {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    filter: grayscale(1);
}


/* MEDIA QUERIES */

@media all and (max-width: 450px) {
    #pokemon-list {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .pokemon-img-modal {
        width: 185px;
    }
    .pokemon-img-modal-back {
        display: none;
    }
}

@media all and (min-width: 451px) and (max-width: 550px) {

    .pokemon-img-modal {
        width: 185px;
    }
}

@media all and (min-width: 401px) and (max-width: 600px) {
    #pokemon-list {
        grid-template-columns: 1fr 1fr;
        text-align: center;
    }
}

@media all and (min-width: 601px) and (max-width: 800px) {
    #pokemon-list {
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;
    }
}

@media all and (min-width: 801px) and (max-width: 1000px) {
    #pokemon-list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        text-align: center;
    }
}